@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(13, 106, 173);
  /* Cor de texto */
  background-color: white;
  /* Fundo branco */
  margin: 0;
  padding: 0;
}

.menu-bar {
  width: 100%;
  background-color: rgb(12, 106, 173, 0.8);
  padding: 10px 0;

}

.menu-bar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}

.menu-justificativa {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6E6E6
}

.btn-menu:hover
transform: scale(1.05);

.btn-sair {
  border: none;
  border-radius: 6px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(13, 106, 173);
  letter-spacing: 2px;
  cursor: pointer;
  transition: opacity 0.3s ease;

}

.btn-sair:hover {
  opacity: 0.8;
  /* Reduz a opacidade quando o mouse passa por cima */
  background-color: red;
}

.menu-btn-sair {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.menu-justificativa-text {
  font-size: 12px;

}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: row; /* Altere para "column" para dividir verticalmente */
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0px 5px 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.left-section {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralize verticalmente */
  justify-content: center; /* Centralize horizontalmente e verticalmente */
}

.right-section {
  flex-grow: 1; /* A seção direita ocupa todo o espaço restante */
  padding-left: 20px; /* Espaçamento entre a seção esquerda e direita */
}

.profile-image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo com opacidade */
  color: white;
  padding: 5px; /* Diminua o padding para melhor ajuste */
  border-radius: 5px;
  font-size: 12px; /* Tamanho da fonte menor */
  white-space: nowrap; /* Impede a quebra de linha */
  opacity: 0; /* Comece com a opacidade 0 */
  transition: opacity 0.3s; /* Adicione uma transição suave */
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-image:hover + profile-image-container:hover,
.overlay:hover {
  opacity: 1; /* Torna a sobreposição visível ao passar o mouse */
  cursor:pointer;
}

h1 {
  font-size: 24px;
}

.field {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-icon {
  cursor: pointer;
  color: rgb(13, 106, 173);
}

.edit-form {
  display: none;
  margin-top: 10px;
}

.edit-form.active {
  display: block;
}

.edit-form button {
  margin-top: 10px;
}

.footer-login {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.footer-login p {
  margin: 0;
  padding: 15px 0;

}

button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: green;
  transform: scale(1.02);
  color: white;
}

#file-input {
  display: none; /* Ocultar o input de arquivo */
}