<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Consultar Atestados Médicos - E.M Dr Roberto Shoji</title> 
    <link rel="stylesheet" href="../styles/atestados.css">
</head>
<body> 

    <div class="menu-bar">
        <div class="menu-btn-sair">
            <button class="btn-sair">Sair</button>
        </div>
        <div class="menu-bar-text">
            <h1> Secretaria Online - E.M Dr Roberto Shoji</h1>  
        </div>
    </div> 

    <div class="menu-atestado">
        <div class="menu-text-atestado">
            <h1> Atestados Médicos </h1>
        </div> 
    </div>

    <div class="menu-container-atestado">
        <select class="series-select">
          <option value="1">SELECIONE A SÉRIE</option>
          <option value="1">1º ANO</option>
          <option value="2">2º ANO</option>
          <option value="3">3º ANO</option>
          <option value="4">4º ANO</option>
          <option value="5">5º ANO</option>
      </select> 
      
       <table class="tabela-aluno-atestado">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data do Atestado</th>
                <th>Quantidade de Dias</th>
                <th>Data de Retorno</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Joao</td>
                <td>30/08/2023</td>
                <td>10</td>
                <td>05/09/2023</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Maria</td>
                <td>30/08/2023</td>
                <td>10</td>
                <td>05/09/2023</td>
            </tr> 

            <tr>
                <td>3</td>
                <td>Pedro</td>
                <td>30/08/2023</td>
                <td>10</td>
                <td>05/09/2023</td>
            </tr>

            <tr>
                <td>4</td>
                <td>Alice</td>
                <td>30/08/2023</td>
                <td>10</td>
                <td>05/09/2023</td>
            </tr>

            <tr>
                <td>5</td>
                <td>Enzo</td>
                <td>30/08/2023</td>
                <td>10</td>
                <td>05/09/2023</td>
            </tr>  
        </table>

    </div> 
</body>

<footer class="styled-footer-atestado">
    <p>&copy; 2023 Desenvolvido por Nilson Cruz - Todos os direitos reservados</p>
</footer>  

</html>
