<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Login - E.M Dr. Roberto Shoji
  </title>
  <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
  <div class="main-login">
    <div class="left-login">
      <h1>
        Faca login e acesse a secretaria <br> online da escola E.M Dr Roberto Shoji</h1>
      <img src="../images/logo.png" class="left-login-image" alt="Logo">
    </div>
    <div class="right-login">
      <div class="card-login">
        <h1>
          LOGIN
        </h1>
        
          <div class="textfield">
            <label for="usuario">Usuario:</label>
            <input type="text"name="usuario" placeholder="Usuario">
          </div>
        
          <div class="textfield">
          <label for="senha">Senha:</label>
          <input type="password"name="senha" placeholder="Senha">
          </div>
          <button class="btn-login">Entrar</button>
          
        </div>
      </div>
    </div>
   </div>  
  
   <footer class="footer-login">
    <p>&copy; 2023 Desenvolvido por Nilson Cruz. Todos os direitos reservados.</p>
    </footer>
</body>
</html>


