@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.menu-alunos {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.menu-prontuario {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6E6E6
}

.menu-text-prontuario {
  font-size: 12px;

}

.series-select {
  width: 20%;
  /* margin: 0 auto; 
  margin-top: 25px; */
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: white;
  background-color: #007bff;
}


.series-select:hover {
  cursor: pointer;
  border: 1px solid #007bff;
  transform: scale(1.02);

}

.container-busca {
  width: 100%;
  padding: 5px 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

.buscar {
  display: flex;
}

.buscar input {
  padding: 10px;
  border: 1px solid #007bff;
  color: #0a325c;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

.buscar input::placeholder{
  color: #007bff;
  font-size: 15px;
}

.buscar button {
  width: 40px;
  background: #007bff;
  border: none;
  outline: none;
  border-radius: 0 5px 5px 0;
  transition: 500ms;
  cursor: pointer;
}

.buscar button svg path {
  color: white;
}

.buscar button:hover{
  opacity: 0.8;
}

.container {
  padding: 20px;
}

.card {
  width: 100%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px; 
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card h2 {
  font-size: 16px; 
  margin-bottom: 5px; 
}

.informacoes-extras {
  display: none;
  padding: 10px; 
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  max-height: 150px; 
  overflow: auto; 
}

.informacoes-extras.show {
  display: flex; 
}

.left-section {
  flex: 1; 
}

.right-section {
  flex: 1;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons-container {
  display: flex;
  justify-content: center;

}

.icon-with-text {
  text-align: center;
  margin-right: 15px; 
}

.icon-with-text:hover{
  text-align: center;
  transform: scale(1.05);
}


img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}


.icon-with-text p {
  margin-top: 5px;
}

.styled-footer-atestado {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: 15px;
}

.styled-footer-atestado p {
  margin: 0;
}


