@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  font-family: Noto-Sans, sans-serif;
  margin: 0;
  padding: 0;
}
.menu-alunos {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.container {
  padding: 20px;
}
.card {
  width: 100%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.informacoes-extras {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

