@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

.menu-container {
  width: 100%;
  background-color: rgb(12, 106, 173, 0.8);
}

.menu-content {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-content h1 {
  margin: 0;
  font-size: 20px;
  color: white;
}


.btn-menu svg {
  width: 30px;
  color: white;
}

.btn-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.btn-perfil svg {
  width: 45px;
}

.btn-perfil svg path {
  fill: white;
}

.perfil-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.btn-sair {
  background-color: rgb(246, 42, 42);
  display: flex;
  min-height: 20px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: 2px solid transparent;
}

.btn-sair:hover {
  border: 2px solid white;
}

.btn-sair svg {
  width: 22px;
}

.btn-sair svg path {
  stroke: white;
}

.conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.box {
  width: 150px;
  height: 150px;
  margin: 10px;
  text-align: center;
  color: #fff;
  position: relative;
}

.imagem {
  width: 100px; /* Largura da imagem */
  height: 100px; /* Altura da imagem */
  margin-bottom: 10px; /* Espaço entre a imagem e o texto */
}

.texto {
  font-size: 18px;
  color: black;
}

.footer-inicio {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.box:hover {
  transform: scale(1.1);
  cursor: pointer;
}
