.menu-container {
  width: 100%;
  background-color: rgb(12, 106, 173, 0.8);
}

.menu-content {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-content h1 {
  margin: 0;
  font-size: 30px;
  color: white;
}


.btn-menu svg {
  width: 45px;
  color: white;

}

.btn-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.btn-perfil:hover {
  transform: scale(1.05);
  cursor:pointer;
}

.btn-perfil svg {
  width: 45px;
}

.btn-perfil svg path {
  fill: white;
}

.perfil-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.btn-sair {
  background-color: rgb(246, 42, 42);
  display: flex;
  min-height: 20px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: 2px solid transparent;
  width:50px;
}

.btn-sair:hover {
  border: 2px solid white;
  transform: scale(1.1);
}

.btn-sair svg {
  width: 22px;
}

.btn-sair svg path {
  stroke: white;
}

.menu-item {
  text-align: center;
}

.menu-item:hover {
  transform: scale(1.05);
  cursor:pointer;
}

.menu-text {
  font-size: 16px;
  color: #fff; 
}


.icone-link {
  text-decoration: none;
  display: inline-block;
  margin: 0; 
  padding: 0; 
  line-height: 1; 
}

a{
  text-decoration: none;
  display: inline-block;
  margin: 0; 
  padding: 0; 
  line-height: 1;
}